html 
    head 
        title League Creator
    body
        h1 LEAGUE CREATOR
        a(href='/', title='Home') Return to homepage   
        br
        br
        form(action="/create-league" method="post")
            label(for="leaguename") League name:
            br
            input(type="text" id="leaguename" name="leaguename")
            br
            br
            label(for="teamnames") Teams (seperated by a comma or new line):
            br
            textarea(id="teamnames" name="teamnames" rows="4" cols="50")
            br
            br
            label(for="scoringsystem") Point system (win/tie/loss):
            br
            input(type="number", id="winpoints", name="winpoints", min="0", required)
            span /
            input(type="number", id="tiepoints", name="tiepoints", min="0", required)
            span /
            input(type="number", id="losspoints", name="losspoints", min="0", required)
            br
            br
            input(type="submit" value="Save League") 
        
        