html 
    head 
        title League Manager
    body
        h1 THE LEAGUE MANAGER
        if username
            h3 WELCOME #{username.toUpperCase()}
        ul 
            li: a(href='/creator') League Creator  
            li: a(href='/leagues') Leagues          
            if username
                br
                li: form(action="/logout", method="get")
                    input(type="submit", value="Logout " + username)
            else
                li: a(href='/login', title='Login') Login
                li: a(href='/sign-up', title='Sign up') Sign up 
        